html
    center
        h1 Welcome to Fake-Udemy 
    center
    h2  New to Our site ? 
        a(href="/signup")
            button SIGNUP
    h2  Already a member 
        a(href="/login")
            button LOGIN