html
    h1 LOGIN
    form(method="post" action="/login")
        Label Username : 
        nbsp
        input(type="text" name="username")
        br
        Label password :
        nbsp
        input(type="password" name="password")
        br
        input(type="submit" value="LOGIN")