html
    h1 SIGNUP
    h4 username should be unique
    form(method="post" action="/signup")
        Label Username : 
        nbsp
        input(type="text" name="username")
        br
        Label Name :
        nbsp
        input(type="text" name="name")
        br
        Label email :
        nbsp
        input(type="email" name="email")
        br
        Label password :
        nbsp
        input(type="password" name="password")
        br
        input(type="submit" value="signup")